@import "mixins";

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$container: 960;
$gutter: 20;
$colunas: 16;

%grid {
	float: left;
	margin-left: ($gutter / 2) + px;
	margin-right: ($gutter / 2) + px;
}

@for $i from 1 through $colunas {
	$width: $container / $colunas * $i - $gutter;

	.grid-#{$i} {
		@extend %grid;
		width: $width + px;
	}
}

.grid-1-3 {
	width: ($container / 3) - $gutter + px;
	@extend %grid;
}

.container {
	width: $container + px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after,
.container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

@include device(tablets) {

	$container: 768;

	@for $i from 1 through $colunas {
		$width: $container / $colunas * $i - $gutter;

		.grid-#{$i} {
			width: $width + px;
		}
	}

	.grid-1-3 {
		width: ($container / 3) - $gutter + px;
	}

	.container {
		width: $container + px;
	}
}

@include device(mobile) {
	$container: 300;

	%mobile {
		float: none;
		width: $container + px;
		margin: 0 0 20px 0;
	}

	@for $i from 1 through $colunas {
		$width: $container / $colunas * $i - $gutter;

		.grid-#{$i} {
			@extend %mobile;
		}
	}

	.grid-1-3 {
		@extend %mobile;
	}

	.container {
		width: $container + px;
	}
}
